@charset "utf-8";

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {list-style: none;}

a {
    text-decoration: none;
    color: #333;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


body {
    font-family: 'Pretendard';
}

.container {
    width: 1200px;
    height: 100%;
    margin:0 auto;
    background-color: #aaa;
}

/* header */
header {
    width: 100%;
    height: 240px;
    /* background-color: gold; */

}
/* 헤더 광고 */
.header_top_add{
    width: 1200px; height: 70px; margin: 0 auto; background-color: #f4f4f4;
}
.header_top_add_color{width: 100%; height: 70px; background-color: #f4f4f4; }
.header_top_add> img{width: 100%; height: 100%;}


/* 헤더 네비 */
.header_nav{
    width: 1200px; height: 42px; display: flex; flex-direction: row;
     background-color: #f4f4f4;}
.header_nav_dom{width: 170px; position: relative; z-index: 2;}
.헤더네비{width: 485px;position: relative; top: 10px; z-index: 1; font-weight: bold;}
.service_mall_link{font-size: 14px;}
.header_nav1_box1{ width: 560x; height: 42px; }
.header_nav1_box2{width: 90px; height: 24px;position: relative; top: 18px; flex-wrap:nowrap;color: gray; font-size: 12px; line-height: 16px;}
.header_nav1_box2 ul {display: flex; }
.header_nav1_box3 {width: 361px;height: 42px; margin-left:auto; background-color: gold;}
.header_nav1_box3 ul{display: flex; color: #595959; padding: 10px;}


.header_mid{
    width: 100%; height: 50%; background-color: pink;
}
.logo{ width: 185px; height: 80px; background-color: white;}
.logo> img{width: 180px; height: 65px; display: block; margin: auto;}
.header_mid_search {width: 560;height: 55; display:flex; background-color: blueviolet; float: right;}

.bottom{width: 1200; height: 80; background-color: darkblue; display: inline;}

/* footer */

footer {
    width: 100%;
    height: 350px;
    background-color: yellow;
}